.noselect {
    touch-action: none;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #000000;
  }
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle {
    position: absolute;
    background-color: white;
    border-radius: 50%; /* Make circles perfectly round */
    transform: translate(-50%, -50%); /* Center circles properly */
}

.mode-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  width: 100%;
}

.mode {
  background-color: rgba(0, 0, 16, 0.8);
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  border-radius: 2.2rem;
}

  .mode img {
  fill: rgb(242, 242, 242);
  height: 2.6rem;
  width: 2.6rem;
  margin: 0.2rem;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input + img {
  cursor: pointer;
}

input[class="outlineIcon"]:hover + img,
input[class="outlineIcon"]:checked + img,
input[class="outlineIcon"]:focus + img {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

input[class="filledIcon"]:hover + img,
input[class="filledIcon"]:checked + img,
input[class="filledIcon"]:focus + img {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(100deg);
}

input[class="brickIcon"]:hover + img,
input[class="brickIcon"]:checked + img,
input[class="brickIcon"]:focus + img {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(330deg);
}


